.logInfo-container {
  width: 300px;
  padding: 10px;
  border: 1px solid rgb(83, 83, 83, 0.1);
  border-radius: 10px;
}

.logInfo-table {
  padding: 10px;
  border-bottom: 1px solid rgb(85, 85, 85);
}
