.log-list {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.log-list_header {
  margin-bottom: 20px;
}

.log-list_pagination {
  display: flex;
  gap: 10px;
}

.log-list_pagination-elements {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid rgb(83, 83, 83, 0.1);
  border-radius: 50px;
}

.log-list_pagination-button:hover:enabled {
  background-color: aliceblue;
  cursor: pointer;
}
