.log-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.log-modal_details {
  padding: 10px;
  outline: none;
  border: none;
  resize: none;
}

.log-modal_buttons {
  display: flex;
  gap: 10px;
}

.log-modal_time {
  align-self: flex-start;
  padding: 10px;
  outline: none;
  border: none;
  resize: none;
}
