.task-page {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task-container {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
}

.task-page_buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.progress-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
