.create-section-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.create-section-input {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.create-section-button:hover {
  color: #00bc8c;
}
