.section-grid {
  height: 600px;
  background-color: rgb(232, 233, 241);
  margin: 10px 20px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0.1px 1px #000000;
}

.section-grid_title {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(114, 113, 113);
  border-radius: 10px;
}

.section-grid_name {
  padding: 0 20px;
  border-right: 1px solid rgb(114, 113, 113);
}

.section-grid_create:hover {
  color: #00bc8c;
}

.section-grid_list {
  height: 93%;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  height: 93%;
}

.no-project-message {
  height: calc(100vh - 240px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-grid_list-li {
  list-style: none;
}
