.section-greed {
  position: relative;
  height: 98%;
  min-width: 170px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgb(244, 245, 248);
}

.section-name {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid rgb(114, 113, 113);
  border-radius: 10px;
}
.section-list {
  list-style: none;
  display: block;
}

.section-greed_create-task {
  position: absolute;
  top: 7px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.section-card-list {
  height: calc(100% - 82px);
}

.delete-section {
  border-top: 1px solid rgb(114, 113, 113);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  color: rgb(158, 71, 71);
}

.delete-section:hover {
  color: #00bc8c;
  cursor: pointer;
}
