.task-modal {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box_text {
  font-size: 1.2rem;
  text-align: center;
  outline: none;
  border: none;
}

.input-box_text:focus {
  outline: 1px solid #000;
  border-radius: 2px;
}

.task-modal_details {
  outline: none;
  border: none;
  resize: none;
}

.task-modal_details:focus {
  outline: 1px solid #000;
  border-radius: 2px;
}

.cancel-button {
  margin-left: 10px;
}
