.task-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 5px 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  cursor: grab;
}

.task-card_name {
  padding: 5px;
  text-align: center;
}

.task-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0.1px 1px #000000;
}
