.calendar-container_outer {
  margin: 20px;
}

.calendar-container {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(85, 85, 85);
  overflow-x: scroll;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgb(85, 85, 85);
}

.calendar-header_name {
  margin: auto;
  padding: 5px;
}

.calendar-table {
  display: flex;
}

.calendar-logged-time {
  text-align: end;
}
