.dataList-container {
  min-width: 160px;
  border-right: 1px solid rgb(85, 85, 85);
  flex-grow: 1;
}

.dataList-title {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid rgb(85, 85, 85);
}
