.table-container {
  width: calc(100% - 40px);
  height: 400px;
  margin: 20px;
}

.cell {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cell-data {
  text-align: center;
  padding: 0 25px;
  background-color: rgb(234, 234, 234);
}

.table-header {
  background-color: rgb(184, 184, 184);
}

.table-name {
  background-color: rgb(189, 189, 189);
}

.table-logged {
  background-color: rgb(211, 211, 211);
}
