.create-project_input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.create-project_input {
  text-align: center;
  outline: none;
  border: 1px solid rgb(86, 83, 83);
  padding: 5px;
  border-radius: 10px;
}

.create-project_buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.create-project_button:hover {
  color: #00bc8c;
}
