.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(232, 233, 241);
  padding: 20px;
  border-bottom: 1px solid rgb(114, 113, 113);
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0.1px 1px #000000;
}

.active {
  color: #00bc8c;
  text-decoration: underline;
}

.header-name:hover {
  color: #00bc8c;
}

.header_projects-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
